<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Utwórz nowego gościa</title>
</head>
<body>
<h2>Dodaj nowego gościa</h2>
<form th:action="@{/createNewGuest}" method="post">
    <p>Imię: <input type="text" name="firstName" required/></p>
    <p>Nazwisko: <input type="text" name="lastName" required/></p>
    <p>Data urodzenia: <input type="date" name="dateOfBirth" required/></p>
    <p>Płeć: <select name="gender" required>
        <option value="MALE">Mężczyzna</option>
        <option value="FEMALE">Kobieta</option>

    </select>
    </p>
    <p><input type="submit" name="Submit"/></p>

</form>
</body>
</html>