<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Utwórz nowego gościa</title>
    <script src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Gnomix - Panel Zarządzania.</a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Główna<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/guests">Goście</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rooms">Pokoje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reservations">Rezerwacje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="/reservations/create/stepone">Utwórz rezerwację</a>
            </li>
        </ul>
    </div>
</nav>

<div class="p-3 text-center bg-light"><h2 class="mb-3">Dodaj nowego gościa</h2>
</div>

<div class="container">

    <form th:action="@{/guests}" method="post">
        <div class="form-group">
            <label for="createnewguestfirstname">Imię:</label>
            <input type="text" name="firstName" required
                   class="form-control" id="createnewguestfirstname"/>
        </div>
        <div class="form-group">
            <label for="createnewguestlastname">Nazwisko: </label>
            <input type="text" name="lastName" required
                   class="form-control" id="createnewguestlastname"/>
        </div>
        <div class="form-group">
            <label for="createnewguestdateofbirth">Data urodzenia: </label>
            <input type="date" name="dateOfBirth" required
                   class="form-control" id="createnewguestdateofbirth"/>
        </div>
        <div class="form-group">
            <label for="createnewguestgender">Płeć: </label>
            <select name="gender" class="form-control" id="createnewguestgender" required>
                <option value="MALE">Mężczyzna</option>
                <option value="FEMALE">Kobieta</option>
            </select>
        </div>
        <div class="form-group">
            <label for="createnewguestconfirmed">Data urodzenia: </label>
            <input type="checkbox" name="confirmed" required
                   class="form-control" id="createnewguestconfirmed"/>
        </div>
        <div class="form-group">
            <input type="submit" class="btn-primary" value="Utwórz gościa" />
        </div>
    </form>

    <div th:if="${not #lists.isEmpty(errors)}">
        <h3>Błąd przy tworzeniu gościa</h3>
        <ul>
            <li th:each="error : ${errors}"><span th:text="${error.defaultMessage}"></span></li>
        </ul>
    </div>
</div>
</body>
</html>