<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Edytuj gościa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Gnomix - Panel Zarządzania.</a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Główna<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/guests">Goście</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rooms">Pokoje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reservations">Rezerwacje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reservations/create/stepone">Utwórz rezerwacje</a>
            </li>
        </ul>
    </div>
</nav>

<div class="p-3 text-center bg-light">
    <h2 class="mb-3">Edytuj gościa</h2>
</div>

<div class="container">
    <form th:action="@{/guests/edit}" method="post">
        <input type="hidden" name="id" th:value="${guest.id}"/>

        <div class="form-group">
            <label for="editguestfirstname">Imię:</label>
            <input type="text" name="firstName" th:value="${guest.firstName}" required
                   class="form-control" id="editguestfirstname"/>
        </div>

        <div class="form-group">
            <label for="editguestlastname">Nazwisko:</label>
            <input type="text" name="lastName" th:value="${guest.lastName}" required
                   class="form-control" id="editguestlastname"/>
        </div>

        <div class="form-group">
            <label for="editguestdateofbirth">Data urodzenia:</label>
            <input type="date" name="dateOfBirth" th:value="${guest.birthDate}"
                   class="form-control" id="editguestdateofbirth"/></p>
        </div>

        <div class="form-group">
            <label for="editguestgender">Płeć:</label>
            <select name="gender" th:value="${guest.gender}" class="form-control" id="editguestgender">
                <option value="MALE">Mężyczna</option>
                <option value="FEMALE">Kobieta</option>
            </select>
        </div>

        <div class="form-group">
            <label for="editguestcustomerID">Numer Klienta:</label>
            <input type="text" name="customerId" th:value="${guest.customerId}"
                   class="form-control" id="editguestcustomerID"/>
        </div>

        <input type="submit" class="btn btn-primary" value="Edytuj gościa" />
    </form>
</div>
</body>
</html>