<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
                      xmlns:th="http:/>/www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Gnomix - goście</title>
</head>
<body>
<h2>Lista gości</h2>
<p th:text="${guest}"/>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Imię</th>
    <th>Nazwisko</th>
    <th>Data urodzenia</th>
    <th>Płeć</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="guest : ${guests}">
        <td th:text="${guest.id}"/>
        <td th:text="${guest.firstName}"/>
        <td th:text="${guest.lastName}"/>
        <td th:text="${guest.birthDate}"/>
        <td th:text="${guest.gender}"/>
        <td>
            <a th:href="@{/guests/delete/{id}(id=${guest.id}}">Usuń</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>