<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gnomix - potwierdzenie rezerwacji</title>
    <script src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
</head>
<body>

<div class="container">

    <div th:if="${success}">
        <h2>Dziękujemy za potwierdzenie rezerwacji.</h2>
        <h3>Musisz wypełnić dane rezerwującego:</h3>
        <form th:action="@{/guests/createAndAttachToReservation}" method="post">

            <div class="form-group">
                <label for="createnewguestfirstname">Imię:</label>
                <input type="text" name="firstName" required
                       class="form-control" id="createnewguestfirstname" />
            </div>

            <div class="form-group">
                <label for="createnewguestlastname">Nazwisko:</label>
                <input type="text" name="lastName" required
                       class="form-control" id="createnewguestlastname"/>
            </div>

            <div class="form-group">
                <label for="createnewguestdateofbirth">Data urodzenia:</label>
                <input type="date" name="dateOfBirth"
                       class="form-control" id="createnewguestdateofbirth"/>
            </div>

            <div class="form-group">
                <label for="createnewguestcustomerId">Numer klienta:</label>
                <input type="text" name="customerId"
                       class="form-control" id="createnewguestcustomerId"/>
            </div>


            <input type="hidden" name="reservationId" th:value="${reservationId}"/>

            <input type="submit" class="btn btn-primary" value="Utwórz rezerwację" />
        </form>
    </div>

    <div th:if="${!success}">
        <h2>Nie udało się potwierdzić rezerwacji.</h2>
        <h3>Proszę skontaktuj się z hotelem i powołaj się na rezerwację numer:
            <span th:text="${reservationId}">id</span></h3>
    </div>


</div>
</body>
</html>