<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http:/>/www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Gnomix - pokoje</title>
</head>
<body>
<h2>Pokoje gościnne</h2>

<table>
    <tbody>
    <tr th:each="room :${rooms}">
        <td th:text="${room.roomId}"/>
        <td th:text="${room.roomNumber}"/>
        <td th:text="${room.size}"/>
        <td>
            <a th:href="@{/rooms/delete/{id}(id=${room.roomId})}">Usuń</a>
        </td>
        <td>
            <a th:href="@{/rooms/edit/{id}(id=${room.roomId})}">Edytuj</a>
        </td>
    </tr>
    </tbody>

</table>
</body>
</html>